body{

  .btn{
    border-radius: 0;
    font-family: $brand-font;
    padding: $spacer;
  }

  .btn-border-white{
    border: solid $width-border #fff;
    background: transparent;
    color: #fff;
    @include textShadowDark;
    &:hover{
      color:#fff;
      background: $col-button-hover-light;
    }
  }

  .btn-border-black{
    border: solid $width-border $black;
    background: transparent;
    color: $black;
    &:hover{
      color: $black;
      background: rgba(0,0,0,0.1);
    }
  }

  .btn-black{
    color: #fff;
    border: solid $width-border $black;
    background: $col-nav-fg;
  }

  .btn-white{
    background: $col-nav-bg;
  }

  .btn-primary{
    background: $col-nav-bg;
  }

  .btn-round{
    @include btnRound($baseNavUnit,white,$col-bg-round);
  }
  .btn-round.bg-white,
  .btn.bg-white{
    @include btnBoxShad;
  }
  .btn-tint-dark{
    background: $col-bg-tint-dark;
  }

  .btn-round-grow-caption{
    font-size: 80%;
  }

  .btn-round-split-x{
    line-height: $baseNavUnit*3;
    font-family: $default-font;
      .btn-round-split{
        height: $baseNavUnit*3;
        line-height: $baseNavUnit*3;
        display: block;
      }
  }

  .btn.btn-ring{
    background: transparent;
    border: solid $width-border $col-bg-round;
  }

  .btn-round-lg{
    @include btnRound($baseNavUnit*2,white,$col-bg-round);
    font-size: $font-size-lg;
    .nav-fas{
      font-size: $baseNavUnit*3;
    }
  }

  .btn-clear{
    background: transparent;
  }

}

@include media-breakpoint-up(sm) {
  body{
    .btn-round{
      font-size: $font-size-base;
    }
    .btn-round-grow{
      @include btnRound($baseNavUnit*2,white,$col-bg-round);
      font-size: 2rem;
      &.btn-tint-dark{
        background: $col-bg-tint-dark;
      }
      .btn-icon{
        font-size: 2rem;
      }
    }
  }
}
