$dateBoxSize: $spacer*4.5;
$color-diamond: #ddd;
$color-diamond-line: $color-diamond;
$color-diamond-center: #fff;
$color-diamond-base: #ddd;
$color-diamond-on: #000;

.timeSlotList{

  .timeSlot{
    &:hover{
      cursor: pointer;
      background: $col-button-hover;
      .diamond-wrapper{
        .diamond{
          .edge{
            fill: $color-diamond-on;
          }
          .center{
            fill: $color-diamond-center;
          }
          .base{
            display: block;
          }

        }
        &:after{
          background: $color-diamond-on;
        }
      }
    }
  }

  .diamond-wrapper{
    overflow: hidden;
    padding-top: ($spacer*.25);

    .diamond{
      height: $spacer*2;
      .edge{
        fill: $color-diamond-line;
      }
      .center{
        fill: $color-diamond-center;
      }
      .base{
        display: none;
        fill: $color-diamond;
      }

    }

    &:after{
      content: " ";
      white-space: pre;
      display: block;
      height: 95%;
      width: $width-border;
      background: $color-diamond-line;
      margin: 0 auto (-$spacer*1.5);
    }

    &.diamond-on{
      .diamond{
        .edge,
        .base{
          fill: $color-diamond-on;
        }
      }
      &:after{
        background: $color-diamond-on;
      }
    }

  }

  .timeSlot{
    padding: $spacer/2 0;
    &:last-child{
      .diamond-wrapper{
        &:after{
          content: none;
        }
      }
    }
  }
}



.timeLine{
  &:after{
    content: "";
    white-space: pre;
    display: inline-block;
    height: $spacer*2;
    width: 1px;
    background: rgba(0,0,0,0.2);
    margin: 0 auto;
  }
}

.timeSlot-date{
  text-align: center;

  .fas{
    width: auto;
    overflow: hidden;
    border-radius: 0;
    transform: rotate(-90deg);
  }

  .dateBox{
    padding: 0;
    border-radius: $dateBoxSize/2;
    width: $dateBoxSize;
    height: $dateBoxSize;
    overflow: hidden;
    border: solid 1px rgba(0,0,0,0.2);
    .dateBoxMonth{
      line-height: $dateBoxSize/2;
      @include smallCaps;
      border-bottom: solid 1px rgba(0,0,0,0.2);
    }
    .dateBoxYear{
      background: rgba(255,255,255,0.4);
      font-family: $brand-font;
      line-height: $dateBoxSize/2.5;
    }
    .dateBoxMonth,
    .dateBoxYear{
      height: 50%;
    }
  }

}

.dateBoxSep{
  display: inline-block;
  height: $dateBoxSize;
  line-height: $dateBoxSize;
  width: auto;
  color: $white;
  overflow: hidden;
  border-radius: 0;
}

@include media-breakpoint-up(md){


  .timeLine{
    &:after{
      content: none;
    }
  }

  .timeSlot-date{
    .fas{
      transform: rotate(0deg);
    }
  }
}
