.nav-back{
  border: none;
  cursor: pointer;
  border-radius: 0;
}

.nav_carousel{
  .list-group{
    .nav-list-group{
      border-radius: 0;
      border: none;
    }
  }
  .list-group-item{
    border-radius: 0;
    border: none;
    border-top: solid 1px $clr-nav-item-border;
  }
  .carousel-item{
    border-bottom: solid 1px $clr-nav-item-border;
  }
}
