.nav-back{
  color: $primary;
  cursor: pointer;
  &.disabled{
    color: $black;
    opacity: $opacity_disabled;
    cursor: default;
    &:hover{
      background: transparent !important;
    }
  }
  .fas{
    margin-right: $spacer/2;
  }
  .nav-item-link{
    cursor: pointer;
  }
}

.nav_carousel{
  .list-group{
    .nav-list-group{
      border-radius: 0;
      border: none;
    }
  }
  .list-group-item{
    border-radius: 0;
    border: none;
    border-top: solid 1px $clr-nav-item-border;
  }
  .carousel-item{
    border-bottom: solid 1px $clr-nav-item-border;
  }
}

@include media-breakpoint-up(sm){
  .modal-top{
    .modal-title{
      position: relative;
      padding-left: $grid-gutter-width/2;
      left: 50%;
    }
  }
}
