.nav-i .nav-main-wrapper,
.nav-main-wrapper{
  background: rgba(0,0,0,0.2);

  .nav-main-container{
    .nav-t-active{
      border-bottom: solid ($width-border*2) rgba(0,0,0,0.3);
      background: $col-top-nav-bg;
      .nav-item-link{
        text-shadow: none;
        color: rgba(0,0,0,0.5);
      }
    }
  }
}

.nav-i{
  .nav-main-wrapper{
    .nav-t-active{
      border-bottom: solid ($width-border*2) $col-top-nav-bg;
    }
  }
}

.modal-top{

  .nav-contact{
    display: none;
  }

  .modal,
  .modal-backdrop{
    top: $height-top-nav + ($baseNavUnit*2);
    padding-bottom: $height-top-nav + ($baseNavUnit*2);
  }

  .modal-dialog{
    max-width: none;
    margin: 0 auto;
    background: $col-top-nav-bg;
    .modal-content{
      border-radius: 0;
      border: none;
      width: 100%;
      background: transparent;

      .modal-header{
        background: transparent;
        padding-right: $grid-gutter-width/2;
        .modal-title{
          text-align: left;
        }
      }

      .modal-body{
        padding: 0;
      }

    }
    .modal-footer{
      display: none;
    }
  }
}

  @include media-breakpoint-up(md){

    .modal-top{
      .modal-dialog{
        .modal-content{
          .modal-header-inner{
            width: 50%;
            float: right;
          }
          .modal-body{
            .nav-main-controls,
            .nav_carousel{
              width: 50%;
              float: right;
              clear: right;
            }
          }
        }
      }
    }

  }
