.modal-dialog{
  .modal-content {
    .modal-header{
      .close{
        color: $primary;
        opacity: 1;
      }
    }
  }
}

@include media-breakpoint-up(sm){

  .modal{
    .modal-dialog{
      margin: 1.75rem auto;
      .modal-content {
        padding-top: 0;
        .modal-header{
          position: relative;
          top: auto;
          z-index: auto;
        }
      }
    }
  }
}
