@import "./modal-side.scss";

.nav-back{
  color: $primary;
  cursor: pointer;
  &.disabled{
    color: $black;
    opacity: $opacity_disabled;
    cursor: default;
    &:hover{
      background: transparent !important;
    }
  }
  .fas{
    margin-right: $spacer/2;
  }
  .nav-item-link{
    cursor: pointer;
  }
}

.modal-nav{
  .modal{
    .modal-dialog{
      max-width: none;
      margin: 0 auto;
      background: $modal-top-bg;
      .modal-header {
        border-radius: 0;
      }

      .modal-content {
        border: 0;
        border-radius: 0;

        .nav-back{
          font-size: $font-size-base;
        }

        .modal-body{
          padding: 0;

          .nav_carousel{

            .list-group{
              .nav-list-group{
                border-radius: 0;
                border: none;
              }
            }
            .list-group-item{
              border-radius: 0;
              border: none;
              border-top: solid 1px $clr-nav-item-border;
            }
            .carousel-item{
              border-bottom: solid 1px $clr-nav-item-border;
            }

            .nav-section-heading{
              border: none;
            }
          }
        }
      }
    }
  }
}

@include media-breakpoint-up(sm){
  @import "./modal-top.scss";
  .modal-nav{
    .modal-title{
      position: relative;
      padding-left: $grid-gutter-width/2;
      left: 50%;
    }
  }
}
