$col-nav-bg: #f5f5f5;
$col-nav-fg: #000;
$col-bg-main: #eee;
$col-border-mid: #ccc;
$col-border-dark: #444;
$col-border-light: rgba(0,0,0,0.1);
$col-carousel-nav-fg: $col-nav-fg;
$col-button-hover: rgba(0,0,0,0.1);
$col-button-hover-light: rgba(255,255,255,0.4);
$col-bg-tint-dark: rgba(0,0,0,0.1);
$col-bg-cover-btn: rgba(0,0,0,0.3);
$col-bg-round: transparent;
$col-bg-attr: $black;
$col-top-nav-bg: rgba(255,255,255,0.9);

// sunsets
$col-centre: #FDFFE0;//#fad782
$col-mid: #f07832;
$col-edge: #463228;

// $bg-centre: rgba($col-centre,1);
// $bg-mid: rgba($col-mid,1);
// $bg-edge: rgba($col-edge,1);
$bg-centre: $col-centre  2%;
$bg-mid: #fad782 3%, $col-mid 30%;
$bg-edge: $col-edge;

$bg-sunset-centre: $col-centre  2%;
$bg-sunset-mid: #eb4034  30%;// was FF3364
$bg-sunset-edge: #20085E;

$bg-night-centre: #ffffff  2%;
$bg-night-mid: #59D0F6 3%, #2d689c 30%;// was 8DE6F6
$bg-night-edge: #000000;//#20085E
//

$opacityDisabled: 0.3;

$width-border: $grid-gutter-width/10;
$width-landscape-nav: 15%;
$width-landscape-content: 85%;
$width-landscape-content-md: 75%;
$width-landscape-nav-md: 25%;
$width-landscape-content-xl: 80%;
$width-landscape-nav-xl: 20%;

$baseNavUnit: $grid-gutter-width/3;// 10
$gallery-right: $baseNavUnit*8;

$height-top-nav: $baseNavUnit*6;
$height-top-nav-total: $height-top-nav*2;
$height-top-nav-md: $grid-gutter-width*2;
$height-top-nav-lg: $grid-gutter-width*3;
$height-top-nav-xl: $grid-gutter-width*5;
$height-top-nav-crumb: ($grid-gutter-width/3)*4;
//
$default-font: Helvetica,Arial,sans-serif;
$brand-font: 'Homenaje', $default-font;//Bungee, Economica, Saira Extra Condensed, Do Hyeon, Nixie One, Homenaje, Darker Grotesque, Nova Square, Big Shoulders Display

$width-modal-nav: 90%;
$gutter: $grid-gutter-width/2;

$notchSize: $spacer*4;
$notchColour: $white;

$textBaseSmall: $font-size-base*0.8;

.fg-white{
  color: $white;
}

@mixin orientation($direction) {
  $orientation-landscape: "(orientation:landscape)";
  $orientation-portrait: "(orientation:portrait)";
  @if $direction == landscape {
    @media #{$orientation-landscape} { @content; }
  }
  @if $direction == portrait {
    @media #{$orientation-portrait} { @content; }
  }
}

@mixin skyCoverHover{
  .nav-item{
    .nav-item-link:hover{
      background: $col-button-hover-light;
    }
  }
}

@mixin btnBoxShad{
  background: $white;
  box-shadow: -1px -1px 1px rgba(255,255,255,0.2), 1px 1px 1px rgba(0,0,0,0.3);
}

@mixin btnRound($size,$fg,$bg){
  height: $size*6;
  line-height: $size*6;
  width: $size*6;
  background-color: $bg;
  min-height: auto;
  display: inline-block;
  text-align: center;
  padding: 0;
  transform: perspective(9cm) rotateX(-10deg) rotateY(20deg);
}

@mixin btnRoundRing($size,$fg,$bg){
  @include btnRound($size,$fg,$bg);
  border: solid $width-border $col-button-hover-light;
  &:focus,
  &:active{
    //border-style: dashed;
  }
}

@mixin smallCaps{
  font-variant: small-caps;
  font-family: 'Arial','Helvetica',sans-serif;
}

@mixin textShadowDark{
  text-shadow: 0px 2px 0px rgba(0,0,0,0.6);
}
