$opacityDisabled: 0.3;
//
$default-font: Helvetica,Arial,sans-serif;
//$brand-font: 'Homenaje', $default-font;//Bungee, Economica, Saira Extra Condensed, Do Hyeon, Nixie One, Homenaje, Darker Grotesque, Nova Square, Big Shoulders Display

$width-modal-nav: 90%;
$width-modal-nav-max: 10rem;
$gutter: $grid-gutter-width/2;
